/node_modules
/public/hot
/public/js
/public/storage
/storage/*.key
/vendor
/replit
.env
.env.backup
/public/css/style.css
/deploy
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
